@import url(font-awesome.min.css);


:root {
    font-size: 16px;

    /* Colors */
    --yellow: #FDB827;
    --violet: #542583;
}


/* NORMALIZER */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, a:active, a:focus, a:hover {
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Global */
.dark-template{
    background-color: var(--yellow);
}

/* Header*/ 
.ttl-header{
    padding: 1rem 0;
    text-align: center;
    color: var(--violet);
}

.ttl-span{
    box-shadow: 8px 8px 5px var(--violet);
    font-size: 2rem;
}

.list-header{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 0 auto;
    width: 90%;
}

.list-header-items{
    padding: .1rem;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border-radius: 10%;
    border: .3rem solid var(--violet);
}

.header-link{
    color: var(--violet);
}

/* Section */ 
.list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position : relative; 
    width: 90%;
    margin: 1rem auto;
    padding: .5rem;
    color: var(--yellow);
    border-radius: 5%;
    background-color: var(--violet);

}

.list-items{
    list-style: none;
    text-align: center;
    margin: .5rem .5rem;
    font-size: 1.1rem;
}

.priority-modification{
    display: flex;
    flex-direction: column;
}

.list-checkbox{
    position: absolute;
    left : 0;
    padding: 0 .3rem;
}

.list-links{
    display : flex;
    gap: .5rem;
    align-items: center; 
    justify-content: center;
}

.icon{
    font-size: 1rem;
    margin-left: .3rem;
    border: 0;
    color: var(--yellow);
}

.paragraph{
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;
    font-size: 1.5rem;
}

.link-comments{
    color: var(--yellow);
}
.date-span{
    color: red; 
    font-weight: bold;
    font-size: 1rem;
    padding-left: .4rem;
}

.come-back{
    color: var(--yellow);
}

.theme-items{
    background-color: var(--violet);
    color: var(--yellow);
    margin-left: 1rem;
    margin-top: 1rem;
}

.list-themes {
    display: flex;
    flex-direction: row;
}

.hidden{
    display: none;
}
.displayB{
    display: block;
}
/* Formulaire*/ 
.taskList-form{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: .5rem;
    margin-top: 1rem;
    padding: .2rem 0.5rem;
}

.label-form{
    color: var(--violet);
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: underline;
}

.input-form{
    padding: .6rem;
    border-radius: 10%;
    border: none;
}

.themes{
    width: 95%;
    margin-left: .5rem;
    border: .1rem solid var(--violet);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}
.legend-themes{
    padding-top: 1rem;
    color: var(--violet);
    font-weight: bold;
    font-size: 1.25rem;
}

.label-themes{
    font-size: .95rem;
}
.link-add-theme{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.icon-add-theme{
    font-size: 1.5rem;
}

.icon-add-theme{
    position: absolute;
    right: .5rem;
    bottom: .4rem;
}

.display{
    display: flex;
}

.submit-form{
    background-color: var(--violet);
    color: var(--yellow);
    border: none;
    padding: .5rem;
    border-radius: 10%;
    width: 30%;
    font-weight: bold;
    position: absolute;
    right: 1rem;
}

/*Task Done*/ 
.come-back{
    margin-right: 1rem;
}

@media screen and (min-width: 550px) and (max-width: 899px) {
    .header{
        display: grid;
        grid-template-columns: 20% 80%;
        gap: 1rem;
    }
    .ttl-span{
        font-size: 2rem;
        text-align: left;
        width: 100%;
    }
    .list-header{
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 2rem;
        padding-right: .3rem;
    }
    .header-link{
        color: var(--violet);
    }
    .list{
        width: 90%;
    }
    .list-items{
        font-size: 1.2rem;
    }
    .taskList-form{
        width: 95%;
        margin: 0 auto;
    }
    .input-form{
        font-size: 1.2rem;
    }
    .label-form{
        font-size: 1.3rem;
    }
    .themes{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }
    .legend-themes{
        font-size: 1.3rem;
    }
    
    .label-themes{
        font-size: 1.2rem;
    }
    .icon-add-theme{
        position: absolute;
        right: .5rem;
        bottom: .4rem;
    }
    
    .submit-form{
        position: relative;
        width: 80%;
        margin: 0 auto;
        right: 0;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 900px) {
    .ttl-header{
        margin: 1rem auto;
    }
    .ttl-span{
        font-size: 2.5rem;

    }
    .nav-header{
        margin-bottom: 2rem;
    }
    .list-header{
        width: 50%;
    }
    .list-header-items{
        padding: .5rem;
        font-size: 1.4rem;
    }
    .list{
        width: 60%;
    }
    .list-items{
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    } 
    .icon{
        font-size: 1rem;
    }
    .date-span{
        font-size: 1.3rem;
    }
    .taskList-form{
        width: 60%;
        margin: 0 auto;
        padding-bottom: 1rem;        
    }
    .label-form{
        font-size: 1.5rem;
    }
    .input-form{
        margin: auto 1rem; 
        padding: 1rem;
        border-radius: 8%;
        border: none;
        font-size: 1.1rem;
    }
    .themes{
        width: 55%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
    }
    .icon-add-theme{
        position: absolute;
        right: .5rem;
        bottom: .4rem;
    }
    .legend-themes{
        font-size: 1.3rem;
    }
    
    .label-themes{
        font-size: 1.2rem;
    }

    .submit-form{
        position: relative;
        width: 80%;
        margin: 0 auto;
        right: 0;
        padding: .5rem;
        font-size: 1.8rem;
        font-weight: 100;
    }
}