:root {
    font-size: 16px;

    /* Colors */
    --yellow: #FDB827;
    --violet: #542583;
}


/* NORMALIZER */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, a:active, a:focus, a:hover {
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Global */
.dark-template{
    background-color: var(--yellow);
}

/* Header*/ 
.ttl-header{
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    color: var(--violet);
}

.list-header{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0 auto;
    width: 50%;
}

.list-header-items{
    padding: .4rem;
    text-align: center;
    border-radius: 10%;
    background-color: var(--violet);
    font-size: 1.1rem;
}

.header-link{
    color: var(--yellow);
}

/* Section */ 
.list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position : relative; 
    width: 95%;
    margin: 30vh auto;
    padding: 1rem;
    color: var(--yellow);
    border-radius: 5%;
    background-color: var(--violet);
}

.list-items{
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.list-checkbox{
    position : absolute; 
    left : 0;
    margin-left: .4rem;
    /* margin : 1rem; */

}

/* Formulaire*/ 
.taskList-form{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 1rem 0.5rem;
}

.label-form{
    color: #542583;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: underline;
}

.input-form{
    margin-top: .2rem;
    padding: .5rem;
    border-radius: 20%;
    border: none;
}

.submit-form{
    background-color: var(--violet);
    color: var(--yellow);
    border: none;
    padding: .5rem;
    border-radius: 10%;
    width: 30%;
    position: absolute;
    right: 1rem;
}

@media screen and (min-width: 550px) {
    .ttl-header{
        padding-top: 2rem;
        padding-bottom: 3rem;
        font-size: 2rem;
    }
    .list-header{
        width: 40%;
    }
    .list-header-items{
        padding: 1rem;
        font-size: 1.2rem;
    }
    .list{
        width: 50%;
    }
    .list-items{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .taskList-form{
        width: 90%;
        margin: 0 auto;
    }
    .submit-form{
        position: relative;
        width: 100%;
        margin: 0 auto;
        right: 0;
    }
}

@media screen and (min-width: 900px) {
    .ttl-header{
        padding-top: 2rem;
        padding-bottom: 3rem;
        font-size: 3rem;
    }
    .list-header{
        width: 30%;
    }
    .list-header-items{
        padding: 1rem;
        font-size: 1.6rem;
    }
    .list{
        width: 40%;
    }
    .list-items{
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .taskList-form{
        width: 80%;
        margin: 0 auto;
    }

    .label-form{
        font-size: 2rem;
    }
    .input-form{
        margin-top: 1rem;
        padding: 1.5rem;
        border-radius: 15%;
        border: none;
        font-size: 1.6rem;
    }

    .submit-form{
        position: relative;
        width: 100%;
        margin: 0 auto;
        right: 0;
        padding: 1rem;
        font-size: 2rem;
    }
}