<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css?<?= time() ?>">
    <title>Error Todo list : KuzanZak</title>
</head>

<body class="dark-template">
    <header class="header">
        <h1 class="ttl-header"><span class="ttl-span">{{error}}</span></h1>
    </header>
<script type="text/javascript" src="js/script.js"></script>
</body>

</html>